.loading-overlay {
  background-color: rgb(223,206,206);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 300;
  display: none;
  /* opacity: 0; */
  transition: .5s;
}

.fade-in-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(223,206,206);
  z-index: 300;
  transition: .2s;
  pointer-events: none;
}

.custom-loader {
  height: 3px;
  width: 300px;
  background:
    linear-gradient(rgb(206, 139, 139) 0 0),
    linear-gradient(rgb(206, 139, 139) 0 0),
    #E4E4ED;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  animation: p6 3s infinite;
}

@keyframes p6 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}



/* PULSE LOADER */
.pulse-loader {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 900;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pulse-loader:before,
.pulse-loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(206, 139, 139, 1));
}
.pulse-loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.pulse-loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #ce8b8b;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #ce8b8b;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #ce8b8b;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #ce8b8b;
    opacity: 1;
  }
}



/* DOT LOADER 1 */
.dot-loader-1 {
  color: #FFF;
  font-size: 15px;
  position: fixed;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation-delay: -0.16s;
  display: none;
  z-index: 900;
}

.dot-loader-1, .dot-loader-1:before, .dot-loader-1:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.dot-loader-1:before,
.dot-loader-1:after {
  content: '';
  position: absolute;
  top: 0;
}
.dot-loader-1:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.dot-loader-1:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
   